/*Global variables*/
:root {
    --color-light: #92cccd;
    --colour-dark: #31343d;
    --section-headings: #445876;
    --default-padding: 20px;
    --background-color: white;
}

body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: var(--background-color);
}

/*Block for the navigation and hero image*/
header {
    background-color: var(--colour-dark);
    position: relative;
}

/*Navigation menu - align at end of flex box*/
#nav-bar {
    justify-content: flex-end;
    align-items: stretch;
}

/*Navigation Menu- list items*/
#nav-bar a {
    padding: 25px 15px 15px 15px;
    align-items: stretch;
    color: var(--color-light);

    background: linear-gradient(var(--colour-dark), var(--colour-dark) 50%, var(--color-light) 50%, var(--color-light));
    background-size: 100% 200%;
    /*trasition effect for background*/
    transition: background 1s, color 0.7s;
}

/*Navigation Menu- list on hover*/
#nav-bar a:hover {
    /*background-color: var(--color-light);*/
    color: var(--colour-dark);

    background-position: 100% 100%;
}

/*container for main content*/
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 1100px;
}

/*each section of of the main*/
main section {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

/*Section Headings*/
main section h2 {
    font-size: 3em;
    color: var(--section-headings);
    padding: var(--default-padding);
    border-right: 4px solid var(--section-headings);
    margin: 10px 30px 10px 0px;
    min-width: 300px;
    text-align: right;
}


img {
    width: 100%;
    height: 100%;
}

/*p{
    max-width: 100%;
    padding: var(--default-padding);
}*/


.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*the page title*/
.top-bar h1 {
    font-size: 3em;
    background-color: var(--color-light);
    padding: 5px;
    margin: 5px;
}

.hero-image {
    max-height: 500px;
    width: 100%;
    object-fit: cover;
    position: relative;
    object-position: center;
}


/*Hero subtitle*/
.hero-sub-title {
    background-color: var(--color-light);
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px;
}

/*Header subtitle*/
.hero-sub-title h2 {
    font-size: 2em;
}

/*Header subtitle*/
.hero-sub-title p {
    font-size: 0.75em;
    text-align: right;
}

/*flex container*/
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}


.work {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}

.work li {
    width: 50%;
    max-height: 400px;
    padding: var(--default-padding);
    position: relative;
}

.work-image {
    width: 100%;
    opacity: 100%;
    border: 5px solid var(--color-light);
}

.work-image:hover {
    opacity: 50%;
}

/*.work-text:hover{
    opacity:100%;
}*/

.work-item-text {
    background-color: var(--color-light);
    color: var(--colour-dark);
    position: absolute;
    bottom: 50px;
    padding: 15px 15px 15px 40px;
}

.work h3 {
    font-size: 1.25em;
}

#work-item-large {
    width: 100%;
    max-height: 800px;
}

#contact-me .flex-container {
    width: 100%;

}

#contact-me a {
    padding: var(--default-padding);

    background: linear-gradient(var(--background-color), var(--background-color) 50%, var(--color-light) 50%, var(--color-light));
    background-size: 100% 200%;
    /*trasition effect for background*/
    transition: background 1s, color 0.7s;
}

/*Navigation Menu- list on hover*/
#contact-me a:hover {
    background-color: var(--color-light);
    color: var(--colour-dark);
    background-position: 100% 100%;
}

    

@media screen and (max-width:1000px) {
    .work-item-text {
        padding: 5px;
    }

}

@media screen and (max-width:700px) {

    header ul {
        flex-direction: column;
    }

    .top-bar {
        flex-direction: column;
    }

    .work li {
        width: 100%;
        max-height: 200px;
        margin: 10px;
        padding: 0px;
    }

    .work {
        flex-direction: column;

    }

    .work-image {
        object-fit: cover;
        max-height: 200px;
    }

    .flex-container {
        flex-direction: column;
    }

    main section {
        flex-direction: column;
    }

    #work-item-large {
        max-width: 100%;
    }

    main section h2 {
        font-size: 2em;
        color: var(--section-headings);
        border-right: 0;
        padding: 10px;
        text-align: center;

    }
}